<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ constant('URLROOT')}}/pages/index"><i class="fas fa-home pe-2 home-icon" title="domovní stránka"></i></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills ">
                <!--<li class="nav-item"><a class="nav-link" href=" constant('URLROOT')/pages/about">About</a></li> -->
                <li class="nav-item"><a class="nav-link" href=" {{ constant('URLROOT')}}/pages/index#about">O konferenci</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/posts/index">Články</a></li>
                {% if session.user is not empty and session.user.role is not same as('normal') %}
                    <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/posts/unpublished">Nevydané články</a></li>
                {% endif %}
            </ul>

            <ul class="navbar-nav nav-pills ms-auto">
                {% if session.user is not empty %}

                    {% if session.user.role is same as('admin') or session.user.role is same as('superadmin')%}
                        <li class="nav-item">
                            <span class="input-group">
                                <a class="nav-link" href="{{ constant('URLROOT')}}/reviews/assignReviews">
                                    Přidaď recenzenty
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <span class="input-group">
                            <a class="nav-link" href="{{ constant('URLROOT')}}/users/manageUsers">
                                        {% if session.user.role == 'superadmin' or session.user.role == 'admin' %}
                                            <i class="fas fa-users-cog"></i> Správa profilů
                                        {% else %}
                                            <i class="fas fa-users"></i> Seznam profilů
                                        {% endif %}
                                </a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="input-group">
                            <a class="nav-link" href="{{ constant('URLROOT')}}/users/index">
                                <i class="fas fa-user" rel="uživatel" alt="user profile:"></i> {{ session.user.username }}({{ session.user.role }})
                            </a>
                        </span>
                    </li>
                    <li class="nav-item btn-login">
                            <span class="input-group">
                                <a class="nav-link" href="{{ constant('URLROOT')}}/users/logout">
                                        <i class="fas fa-sign-out-alt"></i> Odhlásit se
                                </a>
                            </span>
                        {% else %}
                            <span class="input-group">
                                <a class="nav-link" href="{{ constant('URLROOT')}}/users/login">
                                    <div >
                                        <i class="fas fa-sign-in-alt"></i> Přihlásit se
                                    </div>
                                </a>
                            </span>
                        {% endif %}
                    </li>
            </ul>
        </div>
    </div>
</nav>