<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ constant('URLROOT')}}/pages/index">Home</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills ">
                <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/pages/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/pages/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/pages/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ constant('URLROOT')}}/posts/index">Články</a></li>
            </ul>

            <ul class="navbar-nav nav-pills ms-auto">
                <li class="nav-item btn-login">
                    {% if session.user_id is not empty %}
                        <span class="input-group">
                            <div class="pt-2" >
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <a class="nav-link" href="{{ constant('URLROOT')}}/users/logout">Odhlásit se</a>
                        </span>
                    {% else %}
                        <span class="input-group">
                            <div class="pt-2" >
                                <i class="fas fa-sign-in-alt"></i>
                            </div>
                            <a class="nav-link" href="{{ constant('URLROOT')}}/users/login">Přihlásit se</a>
                        </span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<div class="input-group">
                                    <div class="input-group-addon iconInputLeft pt-2" >
                                            <i class="fas fa-user"></i>
                                    </div>
                                    <input class="form-control" id="usernameOrEmail" type="text" placeholder="Uživatelské jméno *" name="usernameOrEmail" value="{{ usernameOrEmail }}">

                                </div>
-->
