
{# if user is session has permission to manipulate with posts
    all links and form are going to be showed up
#}
{% macro canUpdateDeletePost(post)  %}
    <div class="container mb-4">
        <div class="row">
            {% if session.user is not empty and (session.user.id == post.user_id or (session.user.role is same as('superadmin')) ) %}
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                <a class="orange btn myBtn"
                   href="{{ constant('URLROOT')}}/posts/update/{{ post.id}}">
                    Upravit článek
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                <form action="{{ constant('URLROOT')}}/posts/delete/{{ post.id}}" method="POST" class="delete-form">
                    <button onclick="return confirmAction('článek', 'delete');" class="myBtn btn btn-danger" name="submit" type="submit">Smazat článek</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <form onsubmit="return confirm('Určitě chcete změnit soubor?');" action="{{ constant('URLROOT')}}/posts/changePostFile/{{ post.id}}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <span class="col-sm-12 col-lg-6 mb-2">
                            <input class="form-control" type="file" accept="application/pdf" name="fileToUpload">
                        </span>
                        <span class="col-sm-12 col-lg-6 mb-2">
                            <button class="myBtn btn btn-primary green" name="submit" type="submit">Změnit pdf soubor</button>
                        </span>
                    </div>
                    <span class="invalidFeedBack">
                            {{ fileError }}
                    </span>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{#  if user in session have permission to published/unpublished post - necessary form will appered #}
{% macro canPublishedPost(post) %}
    {% if (session.user is not empty) and ((session.user.role is same as('admin'))  or (session.user.role is same as('superadmin')))
        and (session.user.id is not same as(post.user_id)) %}
        <form class="mb-3"action="{{ constant('URLROOT')}}/posts/changePostPublishedStatus/{{ post.id}}" method="POST" class="delete-form">
            <button onclick="return confirmAction()" class="myBtn btn btn-primary" name="submit" type="submit">
                    {% if post.published == 0 %}
                        Vydat
                    {% else %}
                        Zrušit vydání
                    {% endif %}
            </button>
        </form>
    {% endif %}
{% endmacro %}

{# to user in session with permission showed link for creating a new post #}
{% macro canCreatePost() %}
    {% if session.user is not empty and (session.user.role is same as('editor') or session.user.role is same as('superadmin'))%}
        <a class="myBtn btn green mb-3" href="{{constant('URLROOT')}}/posts/create">Create</a>
    {% endif %}
{% endmacro %}

{# to user in session with permission showed link for creating a new review of the post#}
{% macro canCreateReview(post) %}
    {% if session.user is not empty and ( (session.user.role is same as('reviewer')) or (session.user.role is same as('superadmin')) )
        and (session.user.id != post.user_id) %}
        <a class="green btn myBtn"
           href="{{ constant('URLROOT')}}/reviews/create/{{ post.id}}">
            Vytvořit recenzi
        </a>
    {% endif %}
{% endmacro %}

{# macro find out if session user can update selected review#}
{% macro canUpdateReview(review) %}
    {% if (session.user is not empty) and ( session.user.id == review.user_id or (session.user.role is same as('superadmin')) ) %}
        <a class="orange btn myBtn" href="{{ constant('URLROOT')}}/reviews/update/{{ review.id }}">Upravit</a>
    {% endif %}
{% endmacro %}

{# macro find out if session user can delete selected review#}
{% macro canDeleteReview(review) %}
    {% if session.user is not empty and (session.user.id == review.user_id or (session.user.role is same as('superadmin')) ) %}
            <form action="{{ constant('URLROOT')}}/reviews/delete/{{ review.id}}" method="POST" class="delete-form">
                <button onclick="return confirmAction('recenze', 'delete')" class="myBtn btn btn-danger" name="submit" type="submit">Smazat</button>
            </form>
    {% endif %}
{% endmacro %}

{# show form for deleting a user, if right condition are met #}
{% macro canDeleteUser(user) %}

        {% if ( (session.user.role is same as('admin')) and (user.role is not same as('superadmin')) )
            or (session.user.role is same as('superadmin'))
            or (session.user.id == user.id)%}
        <form action="{{ constant('URLROOT')}}/users/deleteUser/{{ user.id}}" method="POST" class="delete-form">
            <button onclick="return confirmAction('uživatel', 'delete');" class="myBtn btn btn-danger red" name="submit" type="submit">Smazat</button>
        </form>
        {% endif %}
{% endmacro %}

{# macro which enabled change user password with right permissions #}
{% macro canChangeUserPassword(user) %}
    {% if user.id == session.user.id or (session.user.role is same as('superadmin'))
        or ((session.user.role is same as('admin')) and (user.role is not same as('superadmin'))) %}
            <a href="{{ constant('URLROOT') }}/users/changePassword/{{ user.id }}">Změnit heslo</a>
    {% endif %}
{% endmacro %}
