{% macro canUpdateDeletePost(post)  %}

    <div class="container mb-4">
        <div class="row">
            {% if session.user is not empty and (session.user.id == post.user_id or session.user.role == 'superadmin') %}
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                <a class="orange btn myBtn"
                   href="{{ constant('URLROOT')}}/posts/update/{{ post.id}}">
                    Upravit článek
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                <form action="{{ constant('URLROOT')}}/posts/delete/{{ post.id}}" method="POST" class="delete-form">
                    <button class="myBtn btn btn-danger" name="submit" type="submit">Smazat článek</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <form onsubmit="return confirm('Určitě chcete změnit soubor?');" action="{{ constant('URLROOT')}}/posts/changePostFile/{{ post.id}}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <span class="col-sm-12 col-lg-6 mb-2">
                            <input class="form-control" type="file" accept="application/pdf" name="fileToUpload">
                        </span>
                        <span class="col-sm-12 col-lg-6 mb-2">
                            <button class="myBtn btn btn-primary green" name="submit" type="submit">Změnit pdf soubor</button>
                        </span>
                    </div>
                    <span class="invalidFeedBack">
                            {{ fileError }}
                    </span>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro canCreatePost() %}
    {% if session.user is not empty and (session.user.role == 'editor' or session.user.role == 'superadmin')%}
        <a class="myBtn btn green mb-3" href="{{constant('URLROOT')}}/posts/create">Create</a>
    {% endif %}
{% endmacro %}


{% macro canCreateReview(post) %}
    {% if session.user is not empty and (session.user.role == 'reviewer' or session.user.role == 'superadmin') %}
        <a class="green btn myBtn"
           href="{{ constant('URLROOT')}}/reviews/create/{{ post.id}}">
            Vytvořit recenzi
        </a>
    {% endif %}
{% endmacro %}

{# macro find out if session user can update selected review#}
{% macro canUpdateReview(review) %}
    {% if (session.user is not empty) and ( session.user.id == review.user_id or session.user.role == 'superadmin') %}
        <a class="orange btn myBtn" href="{{ constant('URLROOT')}}/reviews/update/{{ review.id }}">Upravit</a>
    {% endif %}
{% endmacro %}

{# macro find out if session user can delete selected review#}
{% macro canDeleteReview(review) %}
    {% if session.user is not empty and (session.user.id == review.user_id or session.user.role == 'superadmin') %}
            <form action="{{ constant('URLROOT')}}/reviews/delete/{{ review.id}}" method="POST" class="delete-form">
                <button class="myBtn btn btn-danger" name="submit" type="submit" onclick="confirmAction()">Smazat</button>
            </form>
    {% endif %}
{% endmacro %}

{% macro canDeleteUser(user) %}
        {% if  session.user.role == 'admin' and
            (user.role == 'normal' or user.role == 'editor' or user.role=='reviewer') %}
                <form action="{{ constant('URLROOT')}}/users/deleteUser/{{ user.id}}" method="POST" class="delete-form">
                    <button class="myBtn btn btn-danger" name="submit" type="submit">Smazat</button>
                </form>
        {% elseif session.user.role == 'superadmin' and
            (user.role == 'normal' or user.role == 'editor' or user.role=='reviewer' or user.role == 'admin')%}
                <form action="{{ constant('URLROOT')}}/users/deleteUser/{{ user.id}}" method="POST" class="delete-form">
                    <button class="myBtn btn btn-danger" name="submit" type="submit">Smazat</button>
                </form>
        {% endif%}
{% endmacro %}

{% macro testTlacitka() %}
    <button onclick="confirmAction()">testButtonVPermissions</button>
{% endmacro %}