{% extends('default.html.twig') %}

{% import 'includes/permissions.inc.twig' as macros %}
{% block content %}
    <div class="container content-style">
        <h1>Profil uživatele</h1>
        <form action="{{ constant('URLROOT') }}/users/updateUserUsernameEmail/{{ user.id }}" method="POST">
            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Typ informace</th>
                    <th>Hodnota</th>
                </tr>
                <tr>
                   <td>Jméno:</td>
                    <td><input class="form-control" type="text" id="username" placeholder="Uživatelské jméno *" name="username" value="{{ user.username }}">
                        <span class="invalidFeedBack">{{ usernameError }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input class="form-control" id="email" type="email" placeholder="Email *" name="email" value="{{ user.email }}">
                        <span class="invalidFeedBack">{{ emailError }}</span>
                    </td>
                </tr>
                {{ macros.canChangeUserPasswordTable(user) }}

                <tr>
                    <td>role: </td>
                    <td>{{ user.role }}</td>
                </tr>
            </table>
            </div>
            {% if (session.user.role is same as('superadmin')) or (session.user.role is same as('admin') and user.role is not same as('superadmin')) or (session.user.id == user.id) %}
                <button class="myBtn btn btn-primary" id="registerButton" type="submit" value="submit">Změnit údaje</button>
            {% endif %}
        </form>

        {% if userPosts is not empty %}
        <h3 class="mt-3">Příspěvky</h3>
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titulek</th>
                <th scope="col">Popis</th>
            </tr>
            </thead>
            {% for post in userPosts %}
                <tbody>
                <td class="tableCellLongText"><a href="{{ constant('URLROOT') }}/posts/show/{{ post.id }}">{{ post.title }}</a></td>
                <td class="tableCellLongText">{{ post.description }}</td>
                {% if session.user is not empty and session.user.id == post.user_id %}
                    <td>
                        {{ macros.canUpdateDeletePost(post)}}
                    </td>
                {% endif %}
            {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- reviews -->

        {% if userReviews is not empty %}
        <h3 class="mt-3">Recenze</h3>
        <div class="reviews table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nadpis článku</th>
                    <th scope="col">Kvalita tématu</th>
                    <th scope="col">Jazyk</th>
                    <th scope="col">Originalita</th>
                    <th scope="col">Poznámky</th>
                </tr>
                </thead>
                <tbody>
                {% for review in userReviews %}
                    <tr>
                        <td class="tableCellLongText"><a href="{{ constant('URLROOT') }}/posts/show/{{ review.post.id }}">{{ review.post.title }}</a></td>
                        <td>{% for i in 1..review.topicRelevance %}
                                <i class="star fas fa-star"></i>
                            {% endfor %}</td>
                        <td>{% for i in 1..review.langQuality %}
                                <i class="star fas fa-star"></i>
                            {% endfor %}</td>
                        <td>{% for i in 1..review.originality %}
                                <i class="star fas fa-star"></i>
                            {% endfor %}</td>
                        <td class="tableCellLongText">{{ review.notes  | raw }}</td>
                        {% if session.user is not empty  %}
                            <td>
                                {{ macros.canUpdateReview(review) }}
                            </td>
                            <td>
                                {{ macros.canDeleteReview(review) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}