{% extends('default.html.twig') %}

{% block content %}
    <div class="container">
        <h1>Profil uživatele</h1>

        <form action="{{ constant('URLROOT') }}/users/updateUserUsernameEmail/{{ session.user.id }}" method="POST">
            <table class="table table-striped">
                <tr>
                    <th>Typ informace</th>
                    <th>Hodnota</th>
                </tr>
                <tr>
                   <td>Jméno:</td>
                    <td><input class="form-control" type="text" id="username" placeholder="Uživatelské jméno *" name="username" value="{{ session.user.username }}">
                        <span class="invalidFeedBack">{{ usernameError }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input class="form-control" id="email" type="email" placeholder="Email *" name="email" value="{{ session.user.email }}">
                        <span class="invalidFeedBack">{{ emailError }}</span>
                    </td>
                </tr>

                <tr>
                    <td>Heslo:</td>
                    <td><a href="{{ constant('URLROOT') }}/users/changePassword">Změnit heslo</a> </td>
                </tr>
                <tr>
                    <td>role: </td>
                    <td>{{ session.user.role }}</td>
                </tr>
            </table>
            <button class="myBtn btn btn-primary float-end" id="registerButton" type="submit" value="submit">Změnit údaje</button>
        </form>
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Titulek</th>
            <th scope="col">Popis</th>
        </tr>
        </thead>
        {% for post in userPosts %}
            <tbody>
            <td><a href="{{ constant('URLROOT') }}/posts/show/{{ post.id }}">{{ post.title }}</a></td>
            <td>{{ post.description }}</td>
            {% if session.user is not empty and session.user.id == post.user_id %}
                <td>
                    <a class="myBtn btn orange ms-3 float-end"
                       href="{{ constant('URLROOT')}}/posts/update/{{ post.id}}">
                        Upravit
                    </a>
                </td>
                <td>
                    <form action="{{ constant('URLROOT')}}/posts/delete/{{ post.id}}" method="POST" class="delete-form">
                        <button class="myBtn btn btn-danger float-end ms-2" name="submit" type="submit">Smazat</button>
                    </form>
                </td>
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}