{% extends('default.html.twig') %}

{% block content %}

<div class="container container-login">
    <div class="wrapper-login">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-5 col-xl-4">
                <h2>Přihlásit se</h2>
                <form action="{{ constant('URLROOT')}}/users/login" method="POST" id="loginForm" onkeydown="logIn()">
                        <div class="form-outline mb-4">
                            <div class="form-group">
                                <div class="input-group">

                                    <div class="input-group-addon iconInput iconInputLeft pt-2" >
                                            <i class="fas fa-user" ></i>
                                    </div>

                                    <input autofocus class="form-control" id="usernameOrEmail" type="text" placeholder="Uživatelské jméno *" name="usernameOrEmail" value="{{ usernameOrEmail }}">

                                </div>
                            </div>
                            <span class="invalidFeedBack">
                                {{ usernameOrEmailError }}
                            </span>
                        </div>
                    <div class="form-outline mb-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <div class="input-group-addon iconInput iconInputLeft pt-2" >
                                            <i class="fas fa-lock formIcon"></i>
                                        </div>
                                        <label>
                                        <input class="form-control" id="password" type="password" placeholder="Heslo *" name="password" />
                                        </label>
                                            <div class="input-group-addon iconInput iconInputRight pt-2"
                                             onclick="openCloseEye('password', 'openEye', 'closeEye')">
                                                <i id="closeEye" class="fas fa-eye-slash"></i>
                                                <i id="openEye" class="fas fa-eye" style="display:none;"></i>

                                        </div>
                                </div>
                            </div>
                            <span class="invalidFeedBack">
                                {{ passwordError }}
                            </span>
                            {% if passwordError is not empty %}
                                <br>
                            {% endif %}
                        </div>

                        <button class="myBtn btn btn-primary w-100 h1" id="loginButton" disabled="disabled" type="submit" value="submit">Odeslat</button>
                        <div class="text-center">
                            <p class="options">
                                Ještě nemáte účet?<a href="{{ constant('URLROOT')}}/users/register">Registrace</a></p>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}