{% extends('default.html.twig') %}

{% block content %}
<div class="container-login">
    <div class="wrapper-login">
        <h2>Sign in</h2>
        <form action="{{ constant('URLROOT')}}/users/login" method="POST">
            <input type="text" placeholder="Username *" name="usernameOrEmail" value="{{ usernameOrEmail }}">
            <span class="invalidFeedBack">
                {{ usernameOrEmailError }}
            </span>
            <input type="text" placeholder="Password *" name="password">
            <span class="invalidFeedBack">
                {{ passwordError }}
            </span>
            {% if passwordError is not empty %}
                <br>
            {% endif %}
            <button id="submit" type="submit" value="submit">Submit</button>
            <p class="options">Not registered yet? <a href="{{ constant('URLROOT')}}/users/register">Sign up</a></p>
        </form>
    </div>
</div>
{% endblock %}