{% extends('default.html.twig') %}

{% block content %}
    <div class="container center mb-2">
        <h1 class="text-center pt-5">Vytvořit nový článek</h1>

        <form action="{{ constant('URLROOT')}}/posts/create" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
            <div class="form-group mb-4 form-item">
                Nadpis
                <input class="form-control"  type="text" name="title" placeholder="Titulek článku *" value="{{ title }}" required>
                    <span class="invalidFeedBack">
                        {{ titleError }}
                    </span>

            </div>

            <div class="form-group mb-4 form-item">
                Vložení pdf s podrobnými informacemi o příspěvku
                <input class="form-control" type="file" accept="application/pdf" name="fileToUpload" placeholder="PDF soubor *" value="{{ post.file }}" required>
                <span class="invalidFeedBack">
                    {{ fileError }}
                </span>

            </div>

            <div class="form-group mb-4 form-item">
                Popisek
                <textarea rows="3" class="form-control" name="description" placeholder="Zadejte popisek">
                    {{ description }}
                </textarea>

            </div>

            <div class="form-group mb-4 form-item ">

                <textarea rows="12" class="form-control" id="wysiwygTextArea" name="content" placeholder="Zadejte svůj příspěvek *">
                    {{ content }}
                </textarea>
                <span class="invalidFeedBack">
                    {{ contentError }}
                </span>

            </div>
            <button class="myBtn btn btn-primary green" name="submit" type="submit">Odeslat</button>
        </form>
    </div>
{% endblock %}