{% extends('default.html.twig') %}

{% block content %}
    <div class="container center mb-2">
        <h1 class="text-center pt-5">Vytvořit nový článek</h1>

        <form action="{{ constant('URLROOT')}}/posts/create" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4 form-item">
                <label>Nadpis</label>
                <input class="form-control" type="text" name="title" placeholder="Titulek článku *" value="{{ title }}">
                <span class="invalidFeedBack">
                    {{ titleError }}
                </span>
            </div>

            <div class="form-group mb-4 form-item">
                <label>Nadpis</label>
                <input class="form-control" type="file" name="fileToUpload" placeholder="PDF soubor *" value="{{ post.file }}">
                <span class="invalidFeedBack">
                    {{ fileError }}
                </span>
            </div>

            <div class="form-group mb-4 form-item">
                <label>Popisek</label>
                <textarea rows="3" class="form-control " type="text" name="description" placeholder="Zadejte popisek"></textarea>
            </div>

            <div class="form-group mb-4 form-item ">
                <textarea rows="12" class="form-control" id="wysiwygTextArea" type="text" name="content" placeholder="Zadejte svůj příspěvek *">
                    {{ content }}
                </textarea>
                <span class="invalidFeedBack">
                    {{ contentError }}
                </span>
            </div>
            <button class="myBtn btn btn-primary green" name="submit" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}