{% extends('default.html.twig') %}

{% import 'includes/permissions.inc.twig' as macros %}
{% block content %}
<div class="articles container mt-4 justify-content-center align-items-center gx-5">
    {{ macros.canCreatePost() }}
    {% if posts[0].published ==0 %}
        <h1>Nevydané příspěvky</h1>
    {% else %}
        <h1>Příspěvky</h1>
    {% endif %}
    <div class="row article-row">
        {% for post in posts %}
            <div class="container-item article col-sm-12 col-md-7 col-lg-5">
                <h2><a href="{{ constant('URLROOT') }}/posts/show/{{ post.id }}">{{ post.title }}</a></h2>
                <p>
                    {{ post.description  }}
                </p>
                <p class="p-down">{{ post.author.username }} | {{ post.created_at }}</p>
            </div>
        {% endfor %}
    </div>

    <!--  make whole div clickable  -->
    <script>
        $(".article").click(function() {
        window.location = $(this).find("a").attr("href");
        return false;
        });
    </script>

</div>
{% endblock %}