{% extends('default.html.twig') %}

{% block content %}
<div class="container mt-4">
    {% if session.user_id is not empty %}
        <a class="myBtn green" href="{{constant('URLROOT')}}/posts/create">Create</a>
    {% endif %}

    {% for post in posts %}
        <div class="container-item">
            {% if session.user_id is not empty and session.user_id == post.user_id %}
                <a class="myBtn orange"
                   href="{{ constant('URLROOT')}}/posts/update/{{ post.id}}">
                                              Update
                </a>

                <a class="myBtn orange"
                   href="{{ constant('URLROOT')}}/reviews/create/{{ post.id}}">
                    Review
                </a>

                <form action="{{ constant('URLROOT')}}/posts/delete/{{ post.id}}" method="POST" class="delete-form">
                <button class="myBtn red" name="submit" type="submit">Delete</button>
                </form>

            {% endif %}

            <h2><a href="{{ constant('URLROOT') }}/posts/show/{{ post.id }}">{{ post.title }}</a></h2>
            <p>
                {{ post.content | raw  }}
            </p>
    {% endfor %}
        </div>
</div>
{% endblock %}