{% extends('default.html.twig') %}

{% import 'includes/permissions.inc.twig' as macros %}
{% block content %}

<div class="container mt-4">
    {{ macros.canCreatePost() }}

    {% for post in posts %}
        <div class="container-item">

            <h2><a href="{{ constant('URLROOT') }}/posts/show/{{ post.id }}">{{ post.title }}</a></h2>
            {{ macros.canUpdateDeletePost(post) }}
            <p>
                {{ post.content | raw  }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}