{% extends('default.html.twig') %}

{% import 'includes/permissions.inc.twig' as macros %}

{% import 'includes/comments.inc.twig' as commentsMacros %}
{% block content %}

    <div class="container mt-4 content-style">
        {% if post.published == 1 %}
            <a class="mb-5" href="{{ constant('URLROOT') }}/posts/index">zpět na seznam článků</a>
        {% else %}
            <a class="mb-5" href="{{ constant('URLROOT') }}/posts/unpublished">zpět na seznam nevydaných článků</a>
        {% endif %}
        <p>
            Autor:
            <a href="{{ constant('URLROOT')}}/users/index/{{ post.author.id }}">{{ post.author.username }}</a>
        </p>
        {{ macros.canPublishedPost(post) }}
        {{ macros.canUpdateDeletePost(post)}}
        <h2>{{ post.title }}</h2>
        <p class="show_desc">{{ post.description | raw }}</p>
        <p>{{ post.content | raw }}</p>
        {% if post.file != '' %}
            <a target="_blank" href="{{ constant('URLROOT') }}/public/uploads/{{ post.file }}" title="">Otevřít v jiném okně</a>
            <embed src="{{ constant('URLROOT') }}/public/uploads/{{ post.file }}" type="application/pdf" width="100%" height="600px">
        {% endif %}
        <br>
        
        <h2>Recenze</h2>
        {{ macros.canCreateReview(post) }}
        <div class="reviews table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="limited_table_colum">Nadpis příspěvku</th>
                    <th scope="col">Kvalita tématu</th>
                    <th scope="col">Jazyk</th>
                    <th scope="col">Originalita</th>
                    <th scope="col">Poznámky</th>
                </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ review.author.username }}</td>
                            <td>{% for i in 1..review.topicRelevance %}
                                    <i class="star fas fa-star"></i>
                                {% endfor %}
                            </td>
                            <td>{% for i in 1..review.langQuality %}
                                    <i class="star fas fa-star"></i>
                                {% endfor %}
                            </td>
                            <td>{% for i in 1..review.originality %}
                                    <i class="star fas fa-star"></i>
                                {% endfor %}
                            </td>
                            <td class="tableCellLongText" >{{ review.notes  | raw }}</td>
                            {% if session.user is not empty  %}
                                <td>
                                        {{ macros.canUpdateReview(review) }}
                                </td>
                                <td>
                                        {{ macros.canDeleteReview(review) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h2><i class="fas fa-comment-alt me-2"></i>Komentáře</h2>
        {% if session.user is not empty %}
            <h3>Vložte nový příspěvek</h3>
            <div class="addComment">
                <!-- action="{ constant('URLROOT')}}/posts/createComment/{post.id }}"-->
                <form id="commentForm" action="{{ constant('URLROOT')}}/posts/createComment/{{ post.id }}"  method="POST">
                    <div class="form-item">
                        <textarea class="form-control" type="text" name="commentContent" id="commentContent" placeholder="Vložte svůj komentář"></textarea>
                        <span class="invalidFeedBack">
                            {{ commentContentError }}
                        </span>
                    </div>
                    <div class="form-item">
                        <button class="myBtn green btn mt-3  float-end" name="submit" type="submit">Přidat komentář</button>
                    </div>
                    <p class="form-message"></p>
                </form>
                <span id="comment_message">
                </span>
                <div id="display_comment"></div>
            </div>
        {% endif %}

        <div class="comments" id="commentSection">
            {{ commentsMacros.showComments(comments) }}
        </div>
        <!-- action=" constant('URLROOT')}}/posts/createReply/ comment.id }}"-->
        <div class="addComment row replyRow" action="{{constant('URLROOT')}}/posts/createReply/{{ comment.id }}" style="display:none;">
            <form id="replyForm" method="POST">
                <div class="form-item">
                    <textarea class="form-control" name="replyContent" placeholder="Enter you reply">{{ comment.content }}</textarea>
                    <span class="invalidFeedBack">
                        {{ replyContentError }}
                    </span>
                </div>
                    <div class="form-item">
                        <button class="myBtn green btn mt-3  float-end" name="submit" type="submit">Přidat reply</button>
                    </div>

            </form>
        </div>

    </div>
    <script>

        $(document).ready(submitCommentForm());

        /**
         * with use of ajax create a new comment
         */
        function submitCommentForm(){
            $('#commentForm').on('submit', function (event){
                event.preventDefault();
                var form_data = $(this).serialize();
                $.ajax({
                    url: "{{ constant('URLROOT')}}/posts/createComment/{{ post.id }}",
                    method: "POST",
                    data: form_data,
                    dataType: "JSON",
                    success:function (data2){
                        if(data2.error != ''){
                            $('#commentForm')[0].reset();
                            $('#comment_message').html(data2.error);
                           // $("#commentSection").html(data2.reloadComments);
                        }
                    }
                });
            });
        }

        /**
         * Place reply form under the caller
         * @param caller        button, which want the reply form
         * @param comment_id    id of the comment
         */
        function reply(caller, comment_id){
            $(".replyRow").insertBefore($(caller));
            $("#replyForm").attr('action',"{{ constant('URLROOT')}}/posts/createReply/"+ comment_id )  ;
            $(".replyRow").show();

        }

        /**
         * Delete reply
         * @param reply_id    id of the deleted reply
         * @param post_id   id of the post to which is reply related to
         */
        function deleteReply (reply_id, post_id) {
            let replyId = "reply_"+reply_id;
            if(confirmAction('odpověď', 'delete')) {
                $.ajax({
                    url: "{{ constant('URLROOT') }}/posts/deleteReply/" + reply_id + "/" + post_id,    //the page containing php script
                    type: "post",    //request type,
                    success: function (response) {
                        $("#" + replyId).remove();
                    }
                });
            }
        }

        /**
         * Delete comment
         * @param comment_id    id of the deleted comment
         */
        function deleteComment (comment_id) {
            let commentId = "comment_"+comment_id;
            if(confirmAction('komentář', 'delete')){
                $.ajax({
                    url:"{{ constant('URLROOT')}}/posts/deleteComment/"+comment_id,    //the page containing php script
                    type: "post",    //request type,
                    success: function() {
                        $("#"+commentId).remove();
                    }
                });
            }
        }

    </script>

{% endblock %}