{% extends('default.html.twig') %}

{% import 'includes/permissions.inc.twig' as macros %}

{% block content %}
    <div class="container mt-4">
        <a href="{{ constant('URLROOT') }}/posts/index">zpět na seznam článků</a>
        <br>
        {{ macros.canUpdateDeletePost(post)}}

        <h2>{{ post.title }}</h2>
        <p>{{ post.description | raw }}</p>
        <p>{{ post.content | raw }}</p>
        {% if post.file != '' %}
            <a target="_blank" href="{{ constant('URLROOT') }}/public/uploads/{{ post.file }}" title="">Otevřít v jiném okně</a>
            <embed src="{{ constant('URLROOT') }}/public/uploads/{{ post.file }}" type="application/pdf" width="100%" height="600px">
        {% endif %}
        <br>
        
        <h2>Recenze</h2>
        {{ macros.canCreateReview(post) }}
        <div class="reviews">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Autor recenze</th>
                    <th scope="col">Kvalita tématu</th>
                    <th scope="col">Jazyk</th>
                    <th scope="col">Originalita</th>
                    <th scope="col">Poznámky</th>
                </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <th scope="row">{{ review.reviewer }}</th>
                            <td>{{ review.topicRelevance }}</td>
                            <td>{{ review.langQuality }}</td>
                            <td>{{ review.originality }}</td>
                            <td>{{ review.notes  | raw }}</td>
                            {% if session.user is not empty  %}
                                <td>
                                        {{ macros.canUpdateReview(review) }}
                                </td>
                                <td>
                                        {{ macros.canDeleteReview(review) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h2><i class="fas fa-comment-alt me-2"></i>Komentáře</h2>
        {% if session.user is not empty %}
            <h3>Vložte nový příspěvek</h3>
            <div class="addComment">
                <!-- action="{ constant('URLROOT')}}/posts/createComment/{post.id }}"-->
            <form id="commentForm" action="{{ constant('URLROOT')}}/posts/createComment/{{ post.id }}" method="POST">

                <div class="form-item">
                    <textarea class="form-control" type="text" name="commentContent" id="commentContent" placeholder="Enter you post" value="{{ comment.content }}"></textarea>
                    <span class="invalidFeedBack">
                        {{ commentContentError }}
                </span>
                </div>
                <div class="form-item">
                    <button class="myBtn green btn mt-3  float-end" id="submitAddComment"name="submit" type="submit">Přidat komentář</button>
                </div>
                <p class="form-message"></p>
            </form>
                <span id="comment_message">

                </span>
                <div id="display_comment"></div>
            </div>
        {% endif %}

        <div class="comments">
            <p>počet komentářů: {{ comments|length }}</p>
            {% for comment in comments %}

                <div class="comment" id="comment_{{ comment.id }}">
                   <h6 style="font-weight: bold;"><i class="fas fa-comment me-1"></i> {{ comment.author }}</h6> <h6 class="text-muted">{{ comment.created_at }}</h6>

                    <!--
                    { comment.created_at|time_diff }}
                    <h6>Pokus s datem: {  comment.created_at|date("m/d/y H:i:s'") }} </h6>
                    <p> { "now"|date('m/d/y H:i:s')}}</p>

                    % set datePost = comment.created_at|date('d-m-Y') %}
                    % set today = "now"|date('d-m-Y') %}
                    % set difference = date(today).diff(date(datePost))%}
                    % set leftDays = difference.days %}
                    % if datePost == today %}
                        <h6 class="text-muted">today </h6>
                    % else %}
                        <h6 class="text-muted">{ leftDays }} </h6>
                    % endif %}
                    -->

                    <p>{{ comment.content }}</p>
                    {% if session.user is not empty and (session.user.username == comment.author or session.user.role == 'admin')  %}
                        <button class="myBtn btn btn-danger float-end" onclick="deleteComment({{ comment.id }})" name="submit" type="submit">Smazat komentář</button>
                    {% endif %}

                    {% for reply in comment.replies %}
                        <div class="replyDiv" id="reply_{{ reply.id }}">
                            <h6 style="font-weight: bold;"><i class="fas fa-comment-dots"></i> {{ reply.author.username }}</h6> <h6 class="text-muted">{{ reply.created_at }}</h6>
                            <p>{{ reply.content }}</p>
                            {% if session.user is not empty and (session.user.username == comment.author or session.user.role == 'admin')  %}
                                <button class="myBtn btn btn-danger float-end" onclick="deleteReply({{ reply.id }}, {{ post.id }})" name="submit" type="submit">Smazat reply(ajax)</button>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if session.user is not empty %}
                    <div class="reply">
                        <button class="myBtn btn lightBtn" onclick="reply(this, {{ comment.id }})"><i class="fas fa-reply"></i> Reply</button>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- action=" constant('URLROOT')}}/posts/createReply/ comment.id }}"-->
        <div class="addComment row replyRow" action=" {{constant('URLROOT')}}/posts/createReply/{{ comment.id }}" style="display:none;">
            <form id="replyForm" method="POST">
                <div class="form-item">
                    <textarea class="form-control" type="text" name="replyContent" placeholder="Enter you reply" value="{{ comment.content }}"></textarea>
                    <span class="invalidFeedBack">
                        {{ replyContentError }}
                    </span>
                </div>
                    <div class="form-item">
                        <button class="myBtn green btn mt-3  float-end" name="submit" type="submit">Přidat reply</button>
                    </div>

            </form>
        </div>

    </div>
    <script>
        function reply(caller, comment_id){
            $(".replyRow").insertBefore($(caller));
            $("#replyForm").attr('action',"{{ constant('URLROOT')}}/posts/createReply/"+ comment_id )  ;
            $(".replyRow").show();

        }

        /**
         * Delete reply
         * @param reply_id    id of the deleted reply
         * @param post_id   id of the post to which is reply related to
         */
        function deleteReply (reply_id, post_id) {
            let replyId = "reply_"+reply_id;
            $.ajax({
                url:"{{ constant('URLROOT')}}/posts/deleteReply/"+reply_id+"/"+post_id,    //the page containing php script
                type: "post",    //request type,
                success: function(response) {
                    $("#"+replyId).remove();
                }
            });
        }

        /**
         * Delete comment
         * @param comment_id    id of the deleted comment
         */
        function deleteComment (comment_id) {
            let commentId = "comment_"+comment_id;
            $.ajax({
                url:"{{ constant('URLROOT')}}/posts/deleteComment/"+comment_id,    //the page containing php script
                type: "post",    //request type,
                success: function() {
                    $("#"+commentId).remove();
                }
            });
        }

        $(document).ready(function(){
            $("#commentForm").submit(function (event){
                event.preventDefault();
                var form_data = $(this).serialize();
                $.ajax({
                   url: "{{ constant('URLROOT')}}/posts/createComment/{{ post.id }}",
                    method: "POST",
                    data: form_data,
                    dataType: "json",
                    success:function (data){
                       if(data.error != ''){
                           $("#commentForm")[0].reset();
                           $('#comment_message').html(data.error);
                       }
                    }
                });
            });
        });
       // load_comment();
        function load_comment(){
            $.ajax({
                url: "{{ constant('URLROOT')}}/posts/displayComment/{{ post.id }}",
                method: "POST",
                success:function (data){
                    $('#display_comment').html(data);
                }
            })
        }
    </script>

{% endblock %}