{% extends('default.html.twig') %}

{% block content %}
    <div class="container center mb-2">
        <h1 class="text-center pt-5">Upravit recenzi</h1>

        <form action="{{ constant('URLROOT')}}/reviews/update/{{ review.id }}" method="POST">
            <div class="container container-review">
                <div class="star-form-group mb-3">
                    <h3>Relevance tématu</h3>
                    <div class="star-widget">
                        <input type="radio" {% if review.topicRelevance == 5 %} checked="checked" {% endif %} value="5" name="topicRelevance" id="tR-rate-5" >
                        <label for="tR-rate-5" class="fas fa-star"></label>
                        <input type="radio" {% if review.topicRelevance == 4 %} checked="checked" {% endif %} value="4" name="topicRelevance" id="tR-rate-4">
                        <label for="tR-rate-4" class="fas fa-star"></label>
                        <input type="radio" {% if review.topicRelevance == 3 %} checked="checked" {% endif %} value="3" name="topicRelevance" id="tR-rate-3">
                        <label for="tR-rate-3" class="fas fa-star"></label>
                        <input type="radio" {% if review.topicRelevance == 2 %} checked="checked" {% endif %} value="2" name="topicRelevance" id="tR-rate-2">
                        <label for="tR-rate-2" class="fas fa-star"></label>
                        <input type="radio" {% if review.topicRelevance == 1 %} checked="checked" {% endif %} value="1" name="topicRelevance" id="tR-rate-1">
                        <label for="tR-rate-1" class="fas fa-star"></label>
                    </div>
                    <span class="invalidFeedBack">
                        {{ topicRelevanceError }}
                    </span>
                </div>

                <div class="star-form-group mb-3">
                    <h3>Kvalita jazyka</h3>
                    <div class="star-widget">
                        <input type="radio" {% if review.langQuality == 5 %} checked="checked" {% endif %} value="5" name="langQuality" id="lQ-rate-5" >
                        <label for="lQ-rate-5" class="fas fa-star"></label>
                        <input type="radio" {% if review.langQuality == 4 %} checked="checked" {% endif %} value="4" name="langQuality" id="lQ-rate-4">
                        <label for="lQ-rate-4" class="fas fa-star"></label>
                        <input type="radio" {% if review.langQuality == 3 %} checked="checked" {% endif %} value="3" name="langQuality" id="lQ-rate-3">
                        <label for="lQ-rate-3" class="fas fa-star"></label>
                        <input type="radio" {% if review.langQuality == 2 %} checked="checked" {% endif %} value="2" name="langQuality" id="lQ-rate-2">
                        <label for="lQ-rate-2" class="fas fa-star"></label>
                        <input type="radio" {% if review.langQuality == 1 %} checked="checked" {% endif %} value="1" name="langQuality" id="lQ-rate-1">
                        <label for="lQ-rate-1" class="fas fa-star"></label>
                    </div>
                    <span class="invalidFeedBack">
                        {{ langQualityError }}
                    </span>
                </div>

                <div class="star-form-group mb-3">
                    <h3>Originalita</h3>
                    <div class="star-widget">
                        <input type="radio" {% if review.originality == 5 %} checked="checked" {% endif %} value="5" name="originality" id="og-rate-5" >
                        <label for="og-rate-5" class="fas fa-star"></label>
                        <input type="radio" {% if review.originality == 4 %} checked="checked" {% endif %} value="4" name="originality" id="og-rate-4">
                        <label for="og-rate-4" class="fas fa-star"></label>
                        <input type="radio" {% if review.originality == 3 %} checked="checked" {% endif %} value="3" name="originality" id="og-rate-3">
                        <label for="og-rate-3" class="fas fa-star"></label>
                        <input type="radio" {% if review.originality == 2 %} checked="checked" {% endif %} value="2" name="originality" id="og-rate-2">
                        <label for="og-rate-2" class="fas fa-star"></label>
                        <input type="radio" {% if review.originality == 1 %} checked="checked" {% endif %} value="1" name="originality" id="og-rate-1">
                        <label for="og-rate-1" class="fas fa-star"></label>
                    </div>
                    <span class="invalidFeedBack">
                        {{ originalityError }}
                    </span>
                </div>

                <div class="mb-3">
                    <h3>Doporučení</h3>
                    <div class="star-widget">
                        <input type="radio" {% if review.recommendation == 5 %} checked="checked" {% endif %} value="5" name="recommendation" id="rd-rate-5" >
                        <label for="rd-rate-5" class="fas fa-star"></label>
                        <input type="radio" {% if review.recommendation == 4 %} checked="checked" {% endif %} value="4" name="recommendation" id="rd-rate-4">
                        <label for="rd-rate-4" class="fas fa-star"></label>
                        <input type="radio" {% if review.recommendation == 3 %} checked="checked" {% endif %} value="3" name="recommendation" id="rd-rate-3">
                        <label for="rd-rate-3" class="fas fa-star"></label>
                        <input type="radio" {% if review.recommendation == 2 %} checked="checked" {% endif %} value="2" name="recommendation" id="rd-rate-2">
                        <label for="rd-rate-2" class="fas fa-star"></label>
                        <input type="radio" {% if review.recommendation == 1 %} checked="checked" {% endif %} value="1" name="recommendation" id="rd-rate-1">
                        <label for="rd-rate-1" class="fas fa-star"></label>
                    </div>
                    <span class="invalidFeedBack">
                        {{ originalityError }}
                    </span>
                </div>

                <div class="form-group mb-4 form-item ">
                    <p>Poznámka (maximálně 255 znaků)</p>
                    <!-- id="wysiwygTextArea" -->
                    <textarea maxlength="255" rows="12" class="form-control" type="text" name="notes" placeholder="Zadejte své poznámky *">{{ review.notes }}</textarea>
                    <span class="invalidFeedBack">
                        {{ notesError }}
                    </span>
                </div>
                <button class="myBtn btn btn-primary green" name="submit" type="submit">Upravit recenzi</button>
            </div>
        </form>
    </div>
{% endblock %}